h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Inter, sans-serif;
    margin: 0;
    font-weight: 500;
    color: var(--_colors---dark-gray);

    &.white {
        color: var(--_colors---white);
    }

    &.teal {
        color: var(--_colors---teal);
    }

    &.blue {
        color: var(--_colors---blue);
    }

    &.yellow {
        color: var(--_colors---yellow);
    }

    &.light-purple {
        color: var(--_colors---light-purple);
    }

    &.magenta {
        color: var(--_colors---magenta);
    }

    &.light-blue {
        color: var(--_colors---light-blue);
    }

    &.gradient-text {
        -webkit-text-fill-color: transparent;
        background: linear-gradient(90deg, #0074e8, #a933fb);
        -webkit-background-clip: text;
        background-clip: text;
        font-weight: 600;
    }
}

h1,
.h1 {
    font-size: var(--_size---type--h1);
    line-height: 120%;
}

h2,
.h2 {
    font-size: var(--_size---type--h2);
    line-height: 120%;
}

h3,
.h3 {
    font-size: var(--_size---type--h3);
    line-height: 120%;
}

h4,
.h4 {
    font-size: var(--_size---type--h4);
    line-height: 140%;
}

h5,
.h5 {
    font-size: var(--_size---type--h5);
    line-height: 140%;
}

h6,
.h6 {
    font-size: var(--_size---type--h6);
    line-height: 140%;
}

.callout-text {
    font-size: var(--_size---type--callout-text);
    line-height: 120%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}