.bullet-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem;
  background-color: var(--_colors---darker-gray);
  color: var(--_colors---white);
}

.bullet-card p {
  margin: 0;
}

.bullet-card h4 {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;
  margin: 0;
}

.bullet-card-inner {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.bullet-card-bullet {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;

  &.blue {
    background-color: var(--_colors---blue);
  }

  &.teal {
    background-color: var(--_colors---teal);
  }

  &.yellow {
    background-color: var(--_colors---yellow);
  }

  &.magenta {
    background-color: var(--_colors---magenta);
  }

  &.light-purple {
    background-color: var(--_colors---light-purple);
  }
}

@media (min-width: 768px) {
  .bullet-card {
    padding: 2rem 2.5rem;
  }
}