.industry-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 8px 16px;
    height: 48px;

    background-color: var(--_colors---lighter-blue);

    background-image: url("../../assets/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 24px center;
    background-size: 15px;

    font-family: Inter, sans-serif;
    font-size: var(--_size---type--button);
    font-weight: 400;
    line-height: normal;
    border-radius: 4px;

    @apply w-full border-0 outline-none focus:ring-0;
}